<% @articles.each do |article|	 %>
	<h1><%= link_to article.title, article %></h1>
	<p><%= article.body %></p> <span> <%= link_to 'Eliminar', article, method: :delete,class: "btn be-red white" %></span>
<%end %>